<!DOCTYPE html>
<html>
    <head>
        <title>demo</title>
    </head>
    <body>
        <h1>demo</h1>
        <button id="button">call demo</button>
        <div id="result"></div>
        <script>
            document.getElementById('button').addEventListener('click', function() {
                console.log('call demo');
                fetch('http://127.0.0.1:8080/index/callDemo').then(r => {
                    console.log('response', r);
                    r.text().then(body => {
                        document.getElementById('result').innerText = body;
                    });
                }).catch(e => {
                    console.log('error', e);
                });
            });
        </script>
    </body>
</html>